<nav class="p-4 flex items-center justify-between">
  <!-- left -->
  <!-- Collapsle Button -->

  Collapsible Button
  <!-- right -->

  <div class="flex items-center gap-4">
    <!-- bread crumb -->
    <app-bread-crumb-component></app-bread-crumb-component>
    <!-- toggle dark mode -->

    <!-- avatar -->
    <hlm-avatar variant="large" [hlmDropdownMenuTrigger]="menu">
      <!-- <img
        src="/assets/avatar.png"
        alt="spartan logo. Resembling a spartanic shield"
        hlmAvatarImage
      /> -->
      <span class="bg-brand-primary text-red-400" hlmAvatarFallback>RG</span>
    </hlm-avatar>
    <ng-template #menu>
      <hlm-dropdown-menu class="w-56">
        <hlm-dropdown-menu-label>My Account</hlm-dropdown-menu-label>

        <hlm-dropdown-menu-group>
          <button hlmDropdownMenuItem>
            <span>Profile</span>
            <hlm-dropdown-menu-shortcut>⇧⌘P</hlm-dropdown-menu-shortcut>
          </button>

          <button hlmDropdownMenuItem>
            <span>Billing</span>
            <hlm-dropdown-menu-shortcut>⌘B</hlm-dropdown-menu-shortcut>
          </button>

          <button hlmDropdownMenuItem>
            <span>Settings</span>
            <hlm-dropdown-menu-shortcut>⌘S</hlm-dropdown-menu-shortcut>
          </button>

          <button hlmDropdownMenuItem>
            <span>Keyboard shortcuts</span>
            <hlm-dropdown-menu-shortcut>⌘K</hlm-dropdown-menu-shortcut>
          </button>
        </hlm-dropdown-menu-group>

        <hlm-dropdown-menu-separator />

        <hlm-dropdown-menu-group>
          <button hlmDropdownMenuItem>
            <span>Team</span>
            <hlm-dropdown-menu-shortcut>⌘B</hlm-dropdown-menu-shortcut>
          </button>

          <button hlmDropdownMenuItem>
            <span>New Team</span>
            <hlm-dropdown-menu-shortcut>⌘+T</hlm-dropdown-menu-shortcut>
          </button>
        </hlm-dropdown-menu-group>

        <hlm-dropdown-menu-separator />

        <hlm-dropdown-menu-group>
          <button hlmDropdownMenuItem>
            <span>GitHub</span>
          </button>

          <button hlmDropdownMenuItem>
            <span>Support</span>
          </button>

          <button hlmDropdownMenuItem disabled>
            <span>API</span>
          </button>
        </hlm-dropdown-menu-group>

        <hlm-dropdown-menu-separator />

        <button hlmDropdownMenuItem>
          Log out
          <hlm-dropdown-menu-shortcut>⇧⌘Q</hlm-dropdown-menu-shortcut>
        </button>
      </hlm-dropdown-menu>
    </ng-template>
  </div>
</nav>
